name: Clang

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  clang:
    strategy:
      fail-fast: false

    runs-on: ubuntu-latest

    container:
      image: ghcr.io/mattkretz/cplusplus-ci/gcc16

    steps:
      - uses: actions/checkout@v4

      - name: Set PATH for cmake-latest
        run: echo /opt/cmake-latest/bin >> $GITHUB_PATH

      - name: Configure and build with CMake
        shell: bash
        run: |
          cmake --version
          gcc --version
          clang --version
